### Preppin Data Challenge 2021: Week 1
Connect and load the csv file

In [52]:
import pandas as pd
import numpy as np

In [53]:
file = 'PD2021_WK01.csv'
df = pd.read_csv(file)

<br>
Split the 'Store-Bike' field into 'Store' and 'Bike'

In [54]:
df[['Store', 'Bike']] = df['Store - Bike'].str.split('-', expand = True)
df = df.drop('Store - Bike', axis=1)

<br>
Clean up the 'Bike' field to leave just three values in the 'Bike' field (Mountain, Gravel, Road)

In [55]:
df['Bike'] = np.where(df['Bike'].str.contains('R'), 'Road', df['Bike'] )
df['Bike'] = np.where(df['Bike'].str.contains('M'), 'Mountain', df['Bike'] )
df['Bike'] = np.where(df['Bike'].str.contains('G'), 'Gravel', df['Bike'] )

<br>
Create two different cuts of the date field: 'quarter' and 'day of month'

In [56]:
df['Date'] = pd.to_datetime(df['Date'], format = '%d/%m/%Y')
df['Quarter'] = df['Date'].dt.quarter
df['Day of Month'] = df['Date'].dt.day

<br>
Remove the first 10 orders as they are test values

In [58]:
df.drop(df.index[:10], inplace=True)
df = df.drop('Date', axis=1)
column_order = ['Quarter', 'Store', 'Bike', 'Order ID', 'Customer Age', 'Bike Value', 'Existing Customer?', 'Day of Month']
df = df[column_order]
df

,Quarter,Store,Bike,Order ID,Customer Age,Bike Value,Existing Customer?,Day of Month
20,2,London,Road,21,36,786,Yes,9
21,1,London,Road,22,51,1596,No,2
22,1,London,Road,23,24,745,No,20
23,2,London,Road,24,50,1937,No,13
24,3,Leeds,Mountain,25,35,1958,No,5
...,...,...,...,...,...,...,...,...
995,3,London,Mountain,996,42,3460,No,3
996,1,London,Mountain,997,48,3409,No,17
997,1,London,Mountain,998,81,2534,No,26
998,2,London,Gravel,999,37,4312,Yes,25
999,1,Leeds,Gravel,1000,35,1200,Yes,18