### Preppin' Data Challenge 2024: Week 4 - Unpopular Seats
Input the data

In [70]:
import pandas as pd
import numpy as np

df1 = pd.read_csv('PD2024_WK4_INPUT_FLOW_CARD.csv')
df2 = pd.read_csv('PD2024_WK4_INPUT_NON_FLOW_CARD.csv')
df3 = pd.read_csv('PD2024_WK4_INPUT_SEAT_PLAN.csv')

<br>
- Union the Flow Card and Non-Flow card data sets together.<br>
- Create a data field to show whether the seat was booked by someone with the Flow Card or not
    - Call this field 'Flow Card?'

In [71]:
df1['Flow Card?'] = 'Yes'
df2['Flow Card?'] = 'No'

In [72]:
df = pd.concat([df1, df2],ignore_index=True)

<br>
Aggregate the Seat Bookings to count how many bookings there are for:

    - Each Seat
    - In each Row
    - In each Class
    - For Flow and Non-Flow Card holders

In [73]:
df = df.groupby(['Class', 'Row_','Seat', 'Flow Card?'], as_index=False).agg({'CustomerID':'count'})

<br>
Join on the Seating Plan data to ensure you have a data set for every seat on the plane, even if it hasn't been book

- Only return the records for the seats that haven't been booked

In [74]:
#Renaming Row to Row_ for df3 for join purpose in the next step
df3.rename(columns={'Row': 'Row_'}, inplace=True)

#Renaming CustomerID to Bookings in df as we now it is number of bookings
df.rename(columns={'CustomerID': 'Bookings'}, inplace=True)

In [75]:
df = pd.merge(df,df3, on=['Class', 'Row_', 'Seat'], how='right')

In [76]:
df = df[df['Bookings'].isnull()]  # Filtering to Bookings = Null

<br>
Output the data set showing what seat, rows and class have NOT been booked

In [77]:
df = df[['Class', 'Seat', 'Row_']] # Selecting only required columns

In [78]:
df.to_csv('PD2024W4_OUTPUT.csv', index=False)

In [79]:
#verifying the output
Output = pd.read_csv('PD2024W4_OUTPUT.csv')
Output

  Class  Seat  Row_
0     E     5    28
1     E     6    32
2     E     5    36
3     E     6    37
4     E     5    40
5     E     6    40
6     E     5    41