### Preppin' Data Challenge 2024: Week 3 Performance Against Targets
Input the outputs from 2024 Week 1 challenge

In [139]:
import pandas as pd
import numpy as np

df1 = pd.read_csv('PD2024_WK1_OUTPUT_FLOW_CARD.csv')
df2 = pd.read_csv('PD2024_WK1_OUTPUT_NONFLOWCARD.csv')

df = pd.concat([df1, df2], ignore_index=True)

<br>
Input the new targets Excel sheet (Q1 - 4)

In [140]:
df3 = pd.read_excel('PD2024_WK3_INPUT_TARGETS.xlsx', sheet_name=None)
df3 = pd.concat([df3['Q1'], df3['Q2'], df3['Q3'],df3['Q4']], ignore_index=True)

df3['FirstLetter'] = df3['Class'].str[0]
df3 = df3.rename(columns = {'Month': 'Date'})

<br>
Correct the Classes being incorrect as per last week

- Economy to First
- First Class to Economy
- Business Class to Premium
- Premium Economy to Business

In [141]:
df['Class'] = df['Class'].apply(lambda x: 'First' if x == 'Economy'
                               else 'Economy' if x =='First Class'
                               else 'Premium' if x =='Business Class'
                               else 'Business')

<br>
Find the First Letter from each word in the Class to help with joining the Targets data to Sales data

In [142]:
df['FirstLetter'] = df['Class'].str[0]

<br>
Change the date to a month number

In [143]:
df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y')
df['Date'] = df['Date'].dt.month

<br>
Total up the sales at the level of:

- Class
- Month

In [144]:
df = df.groupby(['Date', 'FirstLetter'], as_index=False).agg({'Price': sum})

<br>
Join the Targets data on to the Sales data (note - you should have 48 rows of data after the join)

In [145]:
df = pd.merge(df,df3, on=['FirstLetter', 'Date'], how='inner')

<br>
Calculate the difference between the Sales and Target values per Class and Month

In [146]:
df['Difference to Target'] = df['Price'] - df['Target']

<br>
Output the data

In [147]:
#reordering columns as desired output
df = df[['Difference to Target', 'Date', 'Price', 'Class', 'Target']]

In [148]:
df.to_csv('PD2024W3_OUTPUT.csv', index=False)

In [149]:
#verifying the output
Output = pd.read_csv('PD2024W3_OUTPUT.csv')
Output

    Difference to Target  Date     Price Class  Target
0               -17702.5     1   67297.5    BC   85000
1                 5081.0     1   36081.0     E   31000
2                73960.0     1  193960.0    FC  120000
3                 8555.6     1   48555.6    PE   40000
4               -16777.5     2   69222.5    BC   86000
5                 -532.0     2   30968.0     E   31500
6                15665.0     2  145665.0    FC  130000
7                 5835.6     2   46335.6    PE   40500
8                -2642.5     3   84357.5    BC   87000
9                 -171.0     3   31829.0     E   32000
10               12315.0     3  152315.0    FC  140000
11                6875.2     3   47875.2    PE   41000
12               -6477.5     4   81522.5    BC   88000
13               -2667.0     4   31333.0     E   34000
14               64415.0     4  224415.0    FC  160000
15               -4266.8     4   38233.2    PE   42500
16               -3935.0     5   85065.0    BC   89000
17                8398.0     5   42898.0     E   34500
18                1610.0     5  171610.0    FC  170000
19                 833.6     5   43833.6    PE   43000
20               -4265.0     6   85735.0    BC   90000
21               -3560.0     6   31440.0     E   35000
22              -30275.0     6  149725.0    FC  180000
23                3038.4     6   46538.4    PE   43500
24                5490.0     7   97490.0    BC   92000
25                1941.0     7   38941.0     E   37000
26              -17575.0     7  172425.0    FC  190000
27               -5741.2     7   40258.8    PE   46000
28               13852.5     8  106852.5    BC   93000
29               -4680.0     8   32820.0     E   37500
30                9625.0     8  209625.0    FC  200000
31               -5031.6     8   41468.4    PE   46500
32               -7410.0     9   87590.0    BC   95000
33              -10276.0     9   27724.0     E   38000
34               -9040.0     9  200960.0    FC  210000
35               -4946.0     9   42054.0    PE   47000
36               -3865.0    10   94135.0    BC   98000
37               -6500.0    10   32500.0     E   39000
38              -33815.0    10  186185.0    FC  220000
39               -4310.4    10   43689.6    PE   48000
40              -13030.0    11   85970.0    BC   99000
41               -5477.0    11   34023.0     E   39500
42              -75405.0    11  154595.0    FC  230000
43               -9128.0    11   39372.0    PE   48500
44                 485.0    12  100485.0    BC  100000
45                3588.0    12   43588.0     E   40000
46              -51985.0    12  188015.0    FC  240000
47               -3652.0    12   45348.0    PE   49000