### Preppin' Data Challenge 2023 Week 2 - International Bank Account Numbers
<br>
Input the data

In [16]:
import pandas as pd
import numpy as np

df1 = pd.read_csv('PD2023_WK02_TRANSACTIONS.csv')
df2 = pd.read_csv('PD2023_WK02_SWIFT_CODES.csv')

<br>
In the Transactions table, there is a Sort Code field which contains dashes.
We need to remove these so just have a 6 digit string

In [17]:
df1['Sort Code'] = df1['Sort Code'].str.replace('-', '')

<br>
Use the SWIFT Bank Code lookup table to bring in additional information about the SWIFT code and 
Check Digits of the receiving bank account

In [19]:
df = pd.merge(df1, df2, on='Bank', how='inner')

<br>
Add a field for the Country Code

- Hint: all these transactions take place in the UK so the Country Code should be GB

In [21]:
df ['Country Code'] = 'GB'

<br>
Create the IBAN as above

- Hint: watch out for trying to combine sting fields with numeric fields - check data types

In [31]:
#Checking data types
df.dtypes

Transaction ID     int64
Account Number     int64
Sort Code         object
Bank              object
SWIFT code        object
Check Digits      object
Country Code      object
IBAN              object
dtype: object

In [30]:
#Concatenating Fields to create IBAN
df ['IBAN'] = (
                df['Country Code'] + 
                df ['Check Digits'] + 
                df ['SWIFT code'] + 
                df ['Sort Code'] + 
                df ['Account Number'].astype(str) 
               )

<br>
Remove unnecessary fields

In [33]:
Required_Columns = ['Transaction ID', 'IBAN']
df = df[Required_Columns]

<br>
Output the data

In [35]:
df.to_csv('PD2023Week2_Output.csv', index=False)

In [36]:
#Verifying Output
Output = pd.read_csv('PD2023Week2_Output.csv')
Output

    Transaction ID                    IBAN
0             3888  GB12DSBX95988262230725
1             7086  GB12DSBX59774456630552
2             1314  GB12DSBX61857971210735
3             1493  GB12DSBX86544212193988
4             1952  GB12DSBX21275453786334
..             ...                     ...
95            6054  GBC1LOYD96885447199472
96            5773  GBC1LOYD43861382021377
97            7485  GBC1LOYD63461763007765
98            8813  GBC1LOYD63589183475180
99            2021  GBC1LOYD59175172261023

[100 rows x 2 columns]